<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>

<h1 class="text-center text-warning">Product Details</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto minus nemo qui. Ad corporis facilis ipsum minima minus, nostrum omnis quaerat quo sint. Asperiores iure placeat saepe. Accusamus, molestias, nulla!</span><span>Aut consequatur eveniet fugiat non perferendis placeat quaerat, repellendus tempora velit voluptas! Autem consectetur debitis deserunt enim minus, vel velit! Alias at, commodi dolorem doloremque ea numquam odit pariatur voluptas?</span><span>Aperiam assumenda corporis et modi omnis porro quisquam quod repudiandae suscipit. Cumque delectus eligendi eos in iusto optio quidem temporibus. Aliquid deleniti dolor ducimus ea eius error iste repellendus, sint?</span></p>

<table class="table container">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Quality</th>
        <th>Product Quantity</th>
    </tr>
    <tr class="table-info">
        <td>1</td>
        <td>Wheat</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    <tr class="table-danger">
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>250 Bags</td>
    </tr>
     <tr class="table-warning">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
     <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
     <tr class="table-success">
        <td>3</td>
        <td>sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>

     
    

</table>


</body>
</html>